.sidemenu
  %h2.heading RANKING
  %ol.ranking
    %li.ranking-item
      =link_to('#') do
        %img.image{src: '', alt: 'グラフの画像'}
        %span.order
        %p.text
          HTML/CSSがなんとかかんとか

    %li.ranking-item
      =link_to('#') do
        %img.image{src: '', alt: 'グラフの画像'}
        %span.order
        %p.text
          HTML/CSSがなんとかかんとか

    %li.ranking-item
      =link_to('#') do
        %img.image{src: '', alt: 'グラフの画像'}
        %span.order
        %p.text
          HTML/CSSがなんとかかんとか
