.wrapper.clearfix
  = partial 'layouts/sidemenu'
  %main.main
    %h2.hidden HOT TOPICS
    =link_to('#', class: 'hot-topic clearfix') do
      %img.image{src: '', alt: 'コーディング画面'}
      .content
        %h3.title 
          実践で使えるHTML/CSS
          %br モダンコーディング
        %p.desc
          webフロントエンドの進化はうんたらかんたら
        %time.date{datetime: "2016-01-16"}
          2016.01.16
          
    %h2.hidden NEWS
    %h2.hidden ARTICLES
      

