.wrapper.clearfix
  = partial 'layouts/sidemenu'
  %main.main
    %section.hot-topic
      %h2.hidden HOT TOPICS
    %section.news
      %h2.hidden NEWS
    %section.article
      %h2.hidden ARTICLES
      

